<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <nav class="principalMenu">
            <div class="alignMenu">
                <ul id="menu">
                    <li class="menu">Logo</li>
                    <li class="menu">Mac</li>
                    <li class="menu">iPad</li>
                    <li class="menu">iPhone</li>
                    <li class="menu">Watch</li>
                    <li class="menu">TV</li>
                    <li class="menu">Music</li>
                    <li class="menu">Suporte</li>
                    <li class="menu">Lupa</li>
                    <li class="menu">Sacola</li>
                </ul>
            </div>
        </nav>
    </header>

    <main>



    </main>

    <div id="footer">

        <footer>

            <div class="footerContent">

                <section class="textFooter">
                    <p>Informação baseada na comparação entre a parte da frente do iPhone 12 (em Ceramic Shield) e a do iPhone da geração anterior.</p>
                    <p>O conteúdo HDR com Alta Taxa de Quadros é limitado no momento. Em breve, mais conteúdo será disponibilizado.</p>
                </section>

                <hr>

                <nav class="linksFooter">
                    
                    <div class="listaFooter">
                        <ul>
                            <legend><strong>Descobrir e Comprar</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                        </ul>
                        <ul>
                            <legend><strong>Comprar e Descobrir</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                        </ul>
                    </div>

                    <div class="listaFooter">
                        <ul>
                            <legend><strong>Serviços</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                        </ul>
                    </div>

                    <div class="listaFooter">
                        <ul>
                            <legend><strong>Apple Store</strong></legend>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                        </ul>
                    </div>

                    <div class="listaFooter">
                        <ul>
                            <legend><strong>Para Empresas</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                        </ul>
                        <ul>
                            <legend><strong>Para Você</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                        </ul>
                    </div>

                    <div class="listaFooter">
                        <ul>
                            <legend><strong>Valores da Apple</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                        </ul>
                        <ul>
                            <legend><strong>Apple e Valores</strong></legend>
                            <a href="#"><li>Mac</li></a>
                            <a href="#"><li>iPad</li></a>
                            <a href="#"><li>iPhone</li></a>
                            <a href="#"><li>Watch</li></a>
                            <a href="#"><li>TV</li></a>
                            <a href="#"><li>Music</li></a>
                        </ul>
                    </div>

                </nav>

                <section class="textFooter">
                    <p>Outras formas de comprar: encontre uma Apple Store ou revendedor Apple na sua região. Ou ligue para <a href="tel: 0800-761-0867">0800-761-0867</a>.<address>Rua Leopoldo Couto de Magalhães Jr., 700, 7º andar, Itaim Bibi. São Paulo, SP. CEP: 04542-000.</address></p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi perspiciatis veritatis debitis autem nam beatae cupiditate.</p>
                    
                        <hr>

                    <p>Os Serviços de Mídia da Apple são fornecidos pela Apple Services LATAM LLC.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sed?</p>
                </section>

            </div>

        </footer>

    </div>
</body>
</html>