<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>

    <header class="noSelect">

        <nav id="areaMenu">

            <div class="alignMenu">

                <ul class="menuOptions">
                    <a href="#" class="option"><li>Logo</li></a>
                    <a href="#" class="option"><li>Mac</li></a>
                    <a href="#" class="option"><li>iPad</li></a>
                    <a href="#" class="option"><li>iPhone</li></a>
                    <a href="#" class="option"><li>Watch</li></a>
                    <a href="#" class="option"><li>TV</li></a>
                    <a href="#" class="option"><li>Music</li></a>
                    <a href="#" class="option"><li>Suporte</li></a>
                    <a href="#" class="option"><li>Lupa</li></a>
                    <a href="#" class="option"><li>Sacola</li></a>
                </ul>

            </div>

        </nav>

    </header>

    <main>
        
        <section class="miniAdvice">
            <p><a href="#">Compre online</a> com assistência de especialistas, entrega grátis e muito mais.</p>
        </section>

        <section class="fullScreenBanners">
            
            <div class="bannerContent noSelect">
                <div class="darkContent">
                    <h2>iPad Pro</h2>
                    <h3>O poderoso chip M1 da Apple está aqui.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a><a href="#">Comprar ></a></h4>
                    </div>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 700px)" srcset="images/iPad_700x480.png">
                        <source media="(max-width: 1200px)" srcset="images/iPad_1200x600.png">
                        <source media="(max-width: 1980px)" srcset="images/iPad_1980x500.png">
                        <img src="images/iPad_1980x500.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

            <div class="bannerContent noSelect">
                <div class="colorContent">
                    <h2>iPhone 12</h2>
                    <h3>Rápido que é uma beleza.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a><a href="#">Comprar ></a></h4>
                    </div>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 700px)" srcset="images/iPhone12_700x480.png">
                        <source media="(max-width: 1200px)" srcset="images/iPhone12Lilla_1200x600.png">
                        <source media="(max-width: 1980px)" srcset="images/iPhone12Lilla_1980x500.png">
                        <img src="images/iPhone12Lilla1980x700.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

            <div class="bannerContent noSelect">
                <div class="darkContent">
                    <h2>Watch</h2>
                    <h3>Um olhar em você. E um Salto à Frente.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a> <a href="#">Comprar ></a></h4>
                    </div>
                </div>
                <div>
                    <picture>
                        <source media="(max-width: 700px)" srcset="images/appleWatch_700x480.png">
                        <source media="(max-width: 1200px)" srcset="images/appleWatch_1200x600.png">
                        <source media="(max-width: 1980px)" srcset="images/appleWatch_1980x500.png">
                        <img src="images/appleWatch_1980x500.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

        </section>

        <section class="halfScreenBanners">

            <div class="bannerContent noSelect">
                <div class="lightContent">
                    <h2>iMac</h2>
                    <h3>Ultrafino. Na maior variedade de cores.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a> <a href="#">Comprar ></a></h4>
                    </div>
                    <picture>
                        <source media="(max-width: 1980px)" srcset="images/iMac_950x450.png">
                        <img src="images/iMac_950x450.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

            <div class="bannerContent noSelect">
                <div class="lightContent">
                    <h2>Music</h2>
                    <h3>O seu estilo. Em qualquer lugar.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a> <a href="#">Comprar ></a></h4>
                    </div>
                    <picture>
                        <source media="(max-width: 1980px)" srcset="images/appleMusicHalf_950x450.png">
                        <img src="images/appleMusicHalf950x650.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

            <div class="bannerContent noSelect">
                <div class="darkContent">
                    <h2>iPhone12 Pro</h2>
                    <h3>Um salto radical.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a> <a href="#">Comprar ></a></h4>
                    </div>
                    <picture>
                        <source media="(max-width: 1980px)" srcset="images/iPhone12Pro_950x450.png">
                        <img src="images/iPhone12Pro_950x450.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

            <div class="bannerContent noSelect">
                <div class="darkContent">
                    <h2>Series 6</h2>
                    <h3>Um olhar em você. E um Salto à Frente.</h3>
                    <div class="bannerLinks">
                        <h4><a href="#">Saiba Mais ></a> <a href="#">Comprar ></a></h4>
                    </div>
                    <picture>
                        <source media="(max-width: 1980px)" srcset="images/appleWatch_950x450.png">
                        <img src="images/appleWatch_950x450.png" alt="" class="imageBanner">
                    </picture>
                </div>
            </div>

        </section>

    </main>


        <footer>

            <div class="footerContent">

                <section class="textFooter">
                    <p>Informação baseada na comparação entre a parte da frente do iPhone 12 (em Ceramic Shield) e a do iPhone da geração anterior.</p>
                    <p>O conteúdo HDR com Alta Taxa de Quadros é limitado no momento. Em breve, mais conteúdo será disponibilizado.</p>
                </section>

                <hr>

                <nav class="listasFooter">
                    
                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Descobrir e Comprar</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                        <ul>
                            <legend><strong class="legendFooter">Comprar e Descobrir</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Serviços</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Apple Store</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Para Empresas</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                        <ul>
                            <legend><strong class="legendFooter">Para Você</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Valores da Apple</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                        <ul>
                            <legend><strong class="legendFooter">Apple e Valores</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                </nav>

                <section class="textFooter">
                    <p>Outras formas de comprar: encontre uma Apple Store ou revendedor Apple na sua região. Ou ligue para <a href="tel: 0800-761-0867">0800-761-0867</a>.<address>Rua Leopoldo Couto de Magalhães Jr., 700, 7º andar, Itaim Bibi. São Paulo, SP. CEP: 04542-000.</address></p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi perspiciatis veritatis debitis autem nam beatae cupiditate.</p>
                    
                        <hr>

                    <p>Os Serviços de Mídia da Apple são fornecidos pela Apple Services LATAM LLC.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sed?</p>
                </section>

            </div>

        </footer>

</body>
</html>