<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>

        <nav id="areaMenu">

            <div class="alignMenu">

                <ul class="menuOptions">
                    <a href="#" class="option"><li>Logo</li></a>
                    <a href="#" class="option"><li>Mac</li></a>
                    <a href="#" class="option"><li>iPad</li></a>
                    <a href="#" class="option"><li>iPhone</li></a>
                    <a href="#" class="option"><li>Watch</li></a>
                    <a href="#" class="option"><li>TV</li></a>
                    <a href="#" class="option"><li>Music</li></a>
                    <a href="#" class="option"><li>Suporte</li></a>
                    <a href="#" class="option"><li>Lupa</li></a>
                    <a href="#" class="option"><li>Sacola</li></a>
                </ul>

            </div>

        </nav>

    </header>

    <main>
        
        <section class="miniAdvice">
            <p><a href="#">Compre online</a> com assistência de especialistas, entrega grátis e muito mais.</p>
        </section>

        <section class="fullScreenBanners">
            
            <a href="#" class="bannerIgnore">
                <div class="fullBanner1">
                        <h2>iPad Pro</h2>
                        <h3>O Poderoso Chip M11 da Apple está aqui.</h3>
                </div>
            </a>

            <a href="#" class="bannerIgnore">
                <div class="fullBanner2">
                        <h2 style="color: black;">iPhone 12</h2>
                        <h3 style="color: black;">Um grande avanço. E um design inovador.</h3>
                </div>
            </a>

            <a href="#" class="bannerIgnore">
                <div class="fullBanner3">
                        <h2>Watch</h2>
                        <h3>Um olhar em você. E um Salto à Frente.</h3>
                </div>
            </a>

        </section>

        <section class="halfScreenBanners">

            <a href="#">
                <div class="halfBanner1">
                    <h2 style="color: black;">iMac</h2>
                    <h3 style="color: black;">Ultrafino. Na maior variedade de cores.</h3>
                </div>
            </a>

            <a href="#">
                <div class="halfBanner2">
                    <h2 style="color: black;">Music</h2>
                    <h3 style="color: black;">O seu estilo. Em qualquer lugar.</h3>
                </div>
            </a>

            <a href="#">
                <div class="halfBanner3">
                    <h2>iPhone12 Pro</h2>
                    <h3>Um salto radical.</h3>
                </div>
            </a>

            <a href="#">
                <div class="halfBanner4">
                    <h2>Series 6</h2>
                    <h3>Um olhar em você. E um Salto à Frente.</h3>
                </div>
            </a>

        </section>

    </main>


        <footer>

            <div class="footerContent">

                <section class="textFooter">
                    <p>Informação baseada na comparação entre a parte da frente do iPhone 12 (em Ceramic Shield) e a do iPhone da geração anterior.</p>
                    <p>O conteúdo HDR com Alta Taxa de Quadros é limitado no momento. Em breve, mais conteúdo será disponibilizado.</p>
                </section>

                <hr>

                <nav class="listasFooter">
                    
                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Descobrir e Comprar</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                        <ul>
                            <legend><strong class="legendFooter">Comprar e Descobrir</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Serviços</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Apple Store</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Para Empresas</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                        <ul>
                            <legend><strong class="legendFooter">Para Você</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                    <div class="linksFooter">
                        <ul>
                            <legend><strong class="legendFooter">Valores da Apple</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                        <ul>
                            <legend><strong class="legendFooter">Apple e Valores</strong></legend>
                            <li><a href="#" class="footerOption">Mac</a></li>
                            <li><a href="#" class="footerOption">iPad</a></li>
                            <li><a href="#" class="footerOption">iPhone</a></li>
                            <li><a href="#" class="footerOption">Watch</a></li>
                            <li><a href="#" class="footerOption">TV</a></li>
                            <li><a href="#" class="footerOption">Music</a></li>
                        </ul>
                    </div>

                </nav>

                <section class="textFooter">
                    <p>Outras formas de comprar: encontre uma Apple Store ou revendedor Apple na sua região. Ou ligue para <a href="tel: 0800-761-0867">0800-761-0867</a>.<address>Rua Leopoldo Couto de Magalhães Jr., 700, 7º andar, Itaim Bibi. São Paulo, SP. CEP: 04542-000.</address></p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi perspiciatis veritatis debitis autem nam beatae cupiditate.</p>
                    
                        <hr>

                    <p>Os Serviços de Mídia da Apple são fornecidos pela Apple Services LATAM LLC.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sed?</p>
                </section>

            </div>

        </footer>

</body>
</html>