:root {
    --clr-primary-000: #FFFFFF;
    --clr-primary-050: #F5F5F7;
    --clr-primary-400: #333333;

    --clr-font-100: #b6b6b6;
    --clr-font-200: #86868B;
    --clr-font-250: #747479;
    --clr-font-300: #1D1D1F;

    --ff-primary: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: var(--ff-primary);
}

footer {
    font-size: 0.85em;
    background-color: var(--clr-primary-050);
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 2px 0px 2px;
    color: var(--clr-font-200);
}

ul {
    padding: 0px;
}

legend {
    padding-bottom: 2px;
}

main {
    padding-top: 45px;
    position: relative;
    z-index: 4;
}

a:hover {
    text-decoration: underline var(--clr-font-200);;
}

a:visited {
    text-decoration: none;
}

#areaMenu {
    width: 100%;
    padding: 1em 0em;
    background: rgba(10, 10, 10, 0.90);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuOptions > li {
    display: inline;
    margin: 0px 32px;
    font-size: 13px;
}

.menuOptions > li:hover {
    color: var();
}

.option {
    display: inline-block;
    color: rgb(190, 190, 190);
    width: 9.5%;
    text-align: center;
    margin: auto 0px;
    text-decoration: none;
}

.option:hover {
    text-decoration: none;
}

.option:hover > li {
    color: white;
}

.linksFooter:hover > a {
    color: rgb(190, 190, 190);
}

.footerContent {
    width: 55%;
    margin: 0px auto;
}

.linksFooter {
    display: inline-block;
    width: 25%;
}

.textFooter {
    display: block;
    padding: 1em 0px 1em;
    color: var(--clr-font-100);
}

.listasFooter {
    display: flex;
}

.legendFooter {
    color: var(--clr-font-250);
    font-weight: 600;
}

.alignMenu {
    width: 57.5%;
    margin: 5px auto;
}

.miniAdvice {
    height: 3em;
    background-color: var(--clr-primary-050); 
    font-size: 0.9em;
}

.miniAdvice > p {
    text-align: center;
    padding: 0.75em 10%;
}

.footerOption {
    text-decoration: none;
    color: var(--clr-font-200);
}

.imageBanner {
    width: 100%;
}

.bannerLinks > h4 {
    display: block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin: .65em;
    text-align: center;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6em;
}

.fullScreenBanners {
    display: grid;
}

.lightContent {
    background-color: #fafafa;
}

.colorContent {
    background-color: #efe5fd;
}

.lightContent * {
    color: black;
}

.colorContent * {
    color: black;
}

.darkContent {
    background-color: black;
}

.darkContent * {
    color: white;
}

h2 {
    color: var(--clr-primary-050);
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3.5em;
    font-weight: 650;
}

h3 {
    color: var(--clr-primary-050);
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
}

.halfScreenBanners {
    display: grid;
    gap: 0.7em;
    margin: 0.65em;
    width: 100%;
    grid-template-columns: repeat(2, 49%);
}