:root {
    --clr-primary-000: #FFFFFF;
    --clr-primary-050: #F5F5F7;
    --clr-primary-400: #333333;

    --clr-font-100: #b6b6b6;
    --clr-font-200: #86868B;
    --clr-font-250: #747479;
    --clr-font-300: #1D1D1F;

    --ff-primary: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
}

footer {
    font-size: 0.8em;
    background-color: var(--clr-primary-050);
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 2px 0px 2px;
    color: var(--clr-font-200);
}

ul {
    padding: 0px;
}

legend {
    padding: 0px 0px 2px;
}

h2 {
    color: var(--clr-primary-050);
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3.2em;
    font-weight: 650;
}

h3 {
    color: var(--clr-primary-050);
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

main {
    padding: 45px 0 0 0;
}

a:hover {
    text-decoration: underline var(--clr-font-200);;
}

a:visited {
    text-decoration: none;
}

ul.menuOptions {
    display: inline;
    padding: 2%;
    color: rgb(180, 180, 180);
    padding: 0px;
}

.option {
    display: inline-block;
    color: rgb(190, 190, 190);
    width: 9.5%;
    text-align: center;
    margin: auto 0px;
    text-decoration: none;
}

.option:hover {
    text-decoration: none;
}

.option:hover > li {
    color: white;
}

.linksFooter:hover > a {
    color: rgb(190, 190, 190);
}

.bannerIgnore {
    text-decoration: none;
}

.bannerIgnore:hover {
    text-decoration: none;
}

.menuOptions > li:hover {
    color: var();
}

.footerContent {
    width: 55%;
    margin: 0px auto;
}

.linksFooter {
    display: inline-block;
    width: 25%;
}

.textFooter {
    display: block;
    padding: 1em 0px 1em;
    color: var(--clr-font-100);
}

.listasFooter {
    display: flex;
}

.legendFooter {
    color: var(--clr-font-250);
    font-weight: 600;
}

#areaMenu {
    font-size: 0.90em;
    width: 100%;
    height: 3.1em;
    background: rgba(10, 10, 10, 0.92);
    padding: 0.6em 0% 0% 0%;
    position: fixed;
}

.alignMenu {
    width: 57.5%;
    margin: 5px auto;
}

.miniAdvice {
    height: 3em;
    background-color: var(--clr-primary-050); 
    font-size: 0.9em;
}

.miniAdvice > p {
    text-align: center;
    padding: 0.75em 10%;
}

.fullBanner1 {
    width: 100%;
    height: 700px;
    background-image: url("../images/iPad1980x700.png");
    margin: 0 0 15px 0;
}

.fullBanner2 {
    width: 100%;
    height: 700px;
    background-image: url("../images/iPhone12Lilla1980x700.png");
    margin: 0 0 15px 0;
}

.fullBanner3 {
    width: 100%;
    height: 700px;
    background-image: url("../images/appleWatch1980x700.png");
    margin: 0 0 15px 0;
}

.footerOption {
    text-decoration: none;
    color: var(--clr-font-200);
}

.halfBanner1 {
    background-image: url("../images/iMacHalf950x650.png");
    display: inline-block;
    width: 49%;
    height: 650px;
    margin: 0px 0px 10px 10px;
}

.halfBanner2 {
    background-image: url("../images/appleMusicHalf950x650.png");
    display: inline-block;
    width: 49%;
    height: 650px;
    margin: 0px 0px 10px 10px;
}

.halfBanner3 {  
    background-image: url("../images/iPhone12PROHalf950x650.png");
    display: inline-block;
    width: 49%;
    height: 650px;
    margin: 0px 0px 10px 10px;
}

.halfBanner4 {
    background-image: url("../images/appleWatchHalf950x650.png");
    display: inline-block;
    width: 49%;
    height: 650px;
    margin: 0px 0px 10px 10px;
}
