
$lighter-gray: #f3f3f3;
$light-gray: #d3d3d3;
$dark-gray: #86868B;
$dark-background-200: #0a0a0ae6;

$link-color: #1472d0;

$font-main: 'Source Sans Pro', sans-serif;

@import 'header', 'observation', 'fullBanner', 'halfBanner', 'footer';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font-main;
}

/* ------- Half Screen Banners ---------*/