:root {
    --clr-primary-300: #F3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #FFF;
    --clr-neutral-200: rgba(245, 245, 247, 0.650);
    --clr-neutral-900: #222C2A;

    --clr-font-100: rgba(0, 0, 0, 0.750);
    --clr-font-200: black;

    --ff-accent: 'Playfair Display', serif;
    --ff-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    font-size: 0.8em;
    background-color: var(--clr-neutral-200);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 2px 0px 2px;
    color: var(--clr-font-100);
}

ul {
    padding: 0px;
}

legend {
    padding: 0px 0px 2px;
}

a:hover {
    text-decoration: underline black;
}

id#footer {
    width: 55%;
}

#menu {
    display: inline;
    padding: 2%;
    color: rgb(180, 180, 180);
    padding: 0px;
}

#menu > li {
    display: inline-block;
    color: rgb(190, 190, 190);
    width: 9.7%;
    text-align: center;
    margin: auto 0px;
}

#menu > li:hover {
    color: white;
}

.footerContent {
    width: 50%;
    margin: 0px auto;
}

.listaFooter {
    display: inline-block;
    width: 25%;
}

.textFooter {
    display: block;
    padding: 0.5em 0px 1em;
}

.linksFooter {
    display: flex;
    padding: 0px 0px 0px 4%;
}

.principalMenu {
    font-size: 0.9em;
    height: 3em;
    background: rgb(50,50,50);
    padding: 0.8em 0%;
}

.alignMenu {
    width: 80%;
    margin: auto auto;
}

.menu {
    width: 100px;
}